.box {
    width: 1600px;
    height: 900px;
    background: tomato;
    margin: 0 auto;
}

.border {
    border: 2px solid white;
    box-sizing: border-box;
}

.box_a {
    width: 100%;
    height: 30%;
    background: tomato;

}

.box_content {
    width: 100%;
    height: 70%;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box_b {
    width: 75%;
    height: 100%;
    background: lightgreen;
}

.box_c {
    width: 25%;
    height: 100%;
    background: lightpink;
}
